degrotesque==3.0.0
pytest==9.0.2
coverage==7.13.5
testfixtures==11.0.0
mkdocs==1.6.1
mkdocs-material==9.7.6
mkdocstrings==1.0.3
mkdocstrings-python==2.0.3
build==1.4.2
twine==6.2.0
pyinstaller==6.19.0
